@model MvcMusicStoreAjaxDemo.ViewModels.StoreIndexViewModel
@{
    ViewBag.Title = "Browse Genres";
    Layout = "_Layout";
}
<h2>Browse Genres</h2>
<p>Select from @Model.NumberOfGenres genres</p>

<ul>
    @foreach (var genreName in Model.Genres)
    {
        <li>
            @Html.ActionLink(genreName, "Browse", "Store", new { genre = genreName }, null)

            @if ((ViewBag.Starred as List<string>)?.Contains(genreName) == true)
            {
                <img src="~/images/starred.png" alt="Starred" />
            }
        </li>
    }
</ul>

<br />
<h5><img src="~/images/starred.png" alt="Starred" /> Starred genres 20% Off!</h5>
